body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

#board {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.tile {
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 145px;
	cursor: pointer;
}

.horizontal-line {
	border-bottom: 1px solid black;
}

.vertical-line {
	border-right: 1px solid black;
}

.winner {
	background-color: lightgray;
	color: green;
}

.hide {
	display: none;
}
#winningModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 5rem;
}

#winningModal.show {
	display: flex;
}

#restartButton {
	font-size: 3rem;
	border-radius: 10px;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	cursor: pointer;
}

#restartButton:hover {
	background-color: black;
	color: white;
	border-color: white;
}
