body {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

#board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
	width: 450px;
}

.tile {
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 145px;
}

.horizontal-line {
	border-bottom: 1px solid black;
}

.vertical-line {
	border-right: 1px solid black;
}

.winner {
	background-color: lightgray;
	color: green;
}
